/* ==================================================
 * SAVINGS SUPPORTED TASK
 * @author Armin Pfurtscheller
 * ================================================== */
.savings-supported-task{}

.savings-supported-task canvas{
  max-width: none;
}

.savings-supported-task .holder{
  display: block;
  margin: 0 0 25px;

  @media (min-width: 750px) {
    display: inline-block;
    margin: 0 10px;
  }
}

.savings-supported-task .label{
  margin: 0 0 10px;
  font-weight: bold;
}

.savings-supported-task .card{

  &.disabled{
    opacity: 0.75;
  }

  visibility: hidden;
  display: inline-block;

  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
