<p>Bitte gib deinen Registrierungscode ein:</p>

<div
  data-form-field=""
  class="uk-text-left uk-margin">
  <label class="uk-text-uppercase uk-text-bold">Dein Registrierungscode:</label>
  <input
    name="code"
    type="password"
    class="uk-input"
    autofocus="autofocus"
    data-ng-required="true"
    data-form-field-model=""
    data-validator-workshop-exists=""
    data-ng-model="loginFrontendController.code"
    data-ng-pattern="loginFrontendController.codePattern"
    data-ng-minlength="loginFrontendController.codeMinLength">

  <message-pattern>Der Code darf nur aus Buchstaben und Zahlen bestehen!</message-pattern>
  <message-required>Du musst einen Code für den Workshop angeben!</message-required>
  <message-minlength>Der Code für den Workshop ist zu kurz!</message-minlength>
  <messages-custom>
    <div data-ng-message="validatorWorkshopLocked">
      Der Workshop ist derzeit gesperrt!
    </div>
    <div data-ng-message="validatorWorkshopExists">
      Der Code des Workshops ist ungültig!
    </div>
  </messages-custom>
</div>

<div class="uk-margin">
  <a
    data-ui-sref="login.frontend.index"
    class="uk-button uk-button-default">
    Zurück
  </a>

  <button
    type="submit"
    class="uk-button uk-button-primary"
    data-ng-click="loginFrontendController.next()"
    data-ng-disabled="loginForm.$invalid||loginForm.$pending">
    Weiter
  </button>
</div>
