<div
  class="tm-section"
  data-uk-scrollspy="hidden: false; target: .tm-scrollspy;">

  <div class="uk-container tm-scrollspy">
    <div class="uk-margin-large-top uk-margin-large-bottom">
      <h1>Bessere Entscheidungen treffen</h1>

      <div class="uk-text-left">
        <div data-accordion="">

          <div data-collapsible="">
            <collapsible-title>
              Übung 1: Die eigene Risikoeinstellung kennenlernen
            </collapsible-title>
            <collapsible-content>
              <div
                class="uk-margin-small-top uk-margin-large-bottom"
                data-ui-view="consumer-behaviour/bomb-task">
              </div>
            </collapsible-content>
          </div>

          <div data-collapsible="">
            <collapsible-title>
              Übung 2: Anker lichten, Leinen los!
            </collapsible-title>
            <collapsible-content>
              <div
                class="uk-margin-small-top uk-margin-large-bottom"
                data-ui-view="consumer-behaviour/anchoring-task">
              </div>
            </collapsible-content>
          </div>

          <div data-collapsible="">
            <collapsible-title>
              Übung 3: Den Überblick bewahren
            </collapsible-title>
            <collapsible-content>
              <div
                class="uk-margin-small-top uk-margin-large-bottom"
                data-ui-view="consumer-behaviour/mental-bookkeeping-task">
              </div>
            </collapsible-content>
          </div>

          <div data-collapsible="">
            <collapsible-title>
              Übung 4: Bilder und Rahmen
            </collapsible-title>
            <collapsible-content>
              <div
                class="uk-margin-small-top"
                data-ui-view="consumer-behaviour/framing-task">
              </div>
            </collapsible-content>
          </div>

        </div>
      </div>

    </div>
    <hr class="uk-divider-icon"/>

  </div>

</div>
