<div
  class="tm-section"
  data-uk-scrollspy="hidden: false; target: .tm-scrollspy;">

  <div class="uk-container tm-scrollspy">
    <div class="uk-margin-large-top uk-margin-large-bottom">
      <h1>Die Finanzwelt verstehen</h1>

      <div class="uk-text-left">
        <ul data-uk-accordion="multiple: true">
          <li>
              <h4 class="uk-accordion-title">Übung 1: Zinsen</h4>
              <div class="uk-accordion-content">
                <div
                  class="uk-margin-small-top uk-margin-large-bottom"
                  data-ui-view="financial-knowledge/interest-task">
                </div>
              </div>
          </li>
          <li>
              <h4 class="uk-accordion-title">Übung 2: Aufteilen oder nicht?</h4>
              <div class="uk-accordion-content">
                <div
                  class="uk-margin-small-top"
                  data-ui-view="financial-knowledge/diversification-task">
                </div>
              </div>
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>
