<div
  class="tm-section"
  data-uk-scrollspy="hidden: false; target: .tm-scrollspy;">

  <div class="uk-container tm-scrollspy">
    <div class="uk-margin-large-top uk-margin-large-bottom">
      <h1>Die Finanzwelt verstehen</h1>

      <div class="uk-text-left">
        <div data-accordion="">

          <div data-collapsible="'INTEREST'">
            <collapsible-title>
              Übung 9: Zinsen
            </collapsible-title>
            <collapsible-content>
              <div
                class="uk-margin-small-top uk-margin-large-bottom"
                data-ui-view="financial-knowledge/interest-task">
              </div>
            </collapsible-content>
          </div>

          <div data-collapsible="'DIVERSIFICATION'">
            <collapsible-title>
              Übung 10: Aufteilen oder nicht?
            </collapsible-title>
            <collapsible-content>
              <div
                class="uk-margin-small-top"
                data-ui-view="financial-knowledge/diversification-task">
              </div>
            </collapsible-content>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
