<div class="tm-section" data-uk-scrollspy="cls: uk-animation-scale-up; target: .tm-scrollspy; delay: 500; repeat: false">
  <div class="uk-container">
    <div class="uk-margin-large-top uk-margin-large-bottom">

      <div class="tm-scrollspy uk-margin-auto uk-margin-large-bottom uk-width-2-3@m">
        <h1>Themen</h1>
        <p>Der Weg zum Finanzprofi führt über drei wichtige Stationen: Finanzwissen, Konsumverhalten und Selbstkontrolle. Klicke auf den Themenbereich, den du trainieren möchtest.</p>
      </div>

      <div class="uk-grid-divider" uk-grid>
        <div class="tm-scrollspy uk-width-1-3@m">
          <img src="img/topic-financial-knowledge.svg" width="300">
          <h3>Finanzwissen</h3>
          <p>Hier erfährst du mehr über die wichtigsten Grundbegriffe der Finanzwelt.</p>
          <a href="#financial-knowledge" class="uk-button uk-button-primary" data-uk-scroll="offset: 80">Zu den Aufgaben</a>
        </div>
        <div class="tm-scrollspy uk-width-1-3@m">
          <img src="img/topic-consumer-behaviour.svg" width="300">
          <h3>Konsumverhalten</h3>
          <p>Hier kannst du spannende Entscheidungssituationen nachspielen und dein eigenes Verhalten besser kennenlernen.</p>
          <a href="#consumer-behaviour" class="uk-button uk-button-primary" data-uk-scroll="offset: 80">Zu den Aufgaben</a>
        </div>
        <div class="tm-scrollspy uk-width-1-3@m">
            <img src="img/topic-selfcontrol.svg" width="300">
            <h3>Selbstkontrolle</h3>
            <p>Die Übungen zur Selbstkontrolle helfen dir dabei, deine langfristigen Ziele zu erreichen.</p>
            <a href="#self-control" class="uk-button uk-button-primary" data-uk-scroll="offset: 80">Zu den Aufgaben</a>
        </div>
      </div>

    </div>
    <hr class="uk-divider-icon"/>

  </div>
</div>
