<div class="anchoring-task">

  <div data-ng-switch="anchoringTaskController.group">

    <div data-ng-switch-when="GROUP_A">
      <div class="description">
        <p>Du überlegst, dir neue Kopfhörer zu kaufen und hast noch nicht entschieden, welches Modell du kaufen möchtest. Du kommst an einem Geschäft vorbei und siehst, dass dort ein beliebtes Kopfhörer-Modell von Sony um 49 Euro angeboten wird. Was würdest du tun?</p>
      </div>

      <div
        data-uk-grid=""
        data-card-container=""
        class="uk-grid-match uk-child-width-1-2">

        <div
          data-card=""
          data-card-data="1"
          data-card-is-checkbox="true"
          data-card-disabled="anchoringTaskController.resolved"
          data-card-on-click="anchoringTaskController.update(data, selected)">
          <card-title>
            Option 1
          </card-title>
          <card-text>
            Die Kopfhörer von Sony kaufen.
          </card-text>
          <card-buttons>
          </card-buttons>
        </div>

        <div
          data-card=""
          data-card-data="2"
          data-card-is-checkbox="true"
          data-card-disabled="anchoringTaskController.resolved"
          data-card-on-click="anchoringTaskController.update(data, selected)">
          <card-title>
            Option 2
          </card-title>
          <card-text>
            Noch zuwarten, bis du mehr über die verschiedenen Modelle weißt.
          </card-text>
          <card-buttons>
          </card-buttons>
        </div>

      </div>
    </div>

    <div data-ng-switch-when="GROUP_B">

      <div class="description">
        <p>Du überlegst, dir neue Kopfhörer zu kaufen und hast noch nicht entschieden, welches Modell du kaufen möchtest. Du kommst an einem Geschäft vorbei, bei dem ein beliebtes Kopfhörer-Modell um 49 Euro statt 99 Euro angeboten wird. Was würdest du tun?</p>
      </div>

      <div
        data-uk-grid=""
        data-card-container=""
        class="uk-grid-match uk-child-width-1-2">

        <div
          data-card=""
          data-card-data="1"
          data-card-is-checkbox="true"
          data-card-disabled="anchoringTaskController.resolved"
          data-card-on-click="anchoringTaskController.update(data, selected)">
          <card-title>
            Option 1
          </card-title>
          <card-text>
            Die Kopfhörer von Sony kaufen.
          </card-text>
          <card-buttons>
          </card-buttons>
        </div>

        <div
          data-card=""
          data-card-data="2"
          data-card-is-checkbox="true"
          data-card-disabled="anchoringTaskController.resolved"
          data-card-on-click="anchoringTaskController.update(data, selected)">
          <card-title>
            Option 2
          </card-title>
          <card-text>
            Noch zuwarten, bis du mehr über die verschiedenen Modelle weißt.
          </card-text>
          <card-buttons>
          </card-buttons>
        </div>

      </div>

    </div>

    <div data-ng-switch-default="">
      <div data-uk-alert="" class="uk-alert-primary">
        Die Aufgabe ist nur für Schüler sichtbar.
      </div>
    </div>

  </div>

  <div data-evaluation="anchoringTaskController">
    <evaluation-text>
      <p>Bei diesem Beispiel gibt es <strong>kein "richtig" oder "falsch"</strong>, schließlich ist es <strong>unsere eigene Entscheidung</strong>, ob wir die Kopfhörer kaufen möchten oder nicht. Es zeigt aber auf, wie wir <strong>durch Preisvorgaben von außen beeinflusst</strong> werden können. Beide Texte enthalten dieselben Informationen über die Kopfhörer ("beliebtes Modell") und in beiden Texten ist der Preis gleich hoch (49 Euro). Dennoch entscheiden sich in der Regel mehr Menschen für einen Kauf, wenn zusätzlich darauf hingewiesen wird, dass der Kopfhörer 49 statt 99 Euro kostet.</p>

      <p>In der <strong>Werbung</strong> werden oft zusätzliche Preise angegeben, die <strong>unsere Einschätzung verzerren</strong> können, wie viel uns eine bestimmte Sache wert ist. Je mehr wir aber für diese Sache ausgeben, umso weniger bleibt uns für anderes – daher ist es wichtig, ein gutes Gefühl zu entwickeln, wie viel wir beim Kauf wirklich ausgeben möchten.</p>
    </evaluation-text>
  </div>

</div>
