<div
  class="procrastination-task"
  data-ng-switch="procrastinationTaskController.state"
  data-ng-attr-id="{{procrastinationTaskController.domId}}">

  <!-- IDLE -->
  <div data-ng-switch-when="IDLE">
    <p>Bei dieser Übung kannst du 5 Lose verdienen, musst dafür aber bis zum nächsten Treffen eine große Aufgabe lösen. Klicke auf das Video, um mehr über diese Übung zu erfahren.</p>

    <div
      data-video
      data-video-id="'zQZfZHJy7NQ'">
    </div>

    <p>Bei dieser Aufgabe musst du insgesamt 150 Seifenblasen zerplatzen, bevor sie die Wolken erreichen. Wenn dir mehr als 15 Seifenblasen entwischen, musst wieder von vorne beginnen. Du kannst selbst nun selbst entscheiden, wie du die Aufgabe lösen willst:</p>

    <p>Variante 1 – Aufgabe in drei kleinere Schritte aufteilen: Hier musst du in drei Teilaufgaben jeweils 50 Seifenblasen zerplatzen, wobei dir maximal 5 entkommen dürfen. Klicke oder tippe auf den blauen Hintergrund, um das Spiel zu starten.</p>

    <p>Variante 2 – Aufgabe in einem Schritt machen: Hier musst du alles in einem erledigen. Du hast dafür bis zum nächsten Treffen Zeit.</p>

    <p>Zur Übung kannst du nun die Aufgabe kurz kennenlernen und 20 Seifenblasen platzen lassen. Danach kannst du auswählen, wie du die Übung absolvieren willst. Klicke oder Tippe in den Himmel, um das Spiel zu starten.</p>

    <div class="uk-text-center">
      <div
        data-procrastination-task-game=""
        data-procrastination-task-game-max-escaped="procrastinationTaskController.warmupMaxEscaped"
        data-procrastination-task-game-min-catched="procrastinationTaskController.warmupMinCatched"
        data-procrastination-task-game-on-game-done="procrastinationTaskController.setWarmup(true)"
        data-procrastination-task-game-on-game-quit="procrastinationTaskController.setWarmup(false)">
      </div>

      <div class="uk-margin-medium">
        <div data-locked-state="procrastinationTaskController.isLocked()">
          <!-- use default text -->
        </div>

        <button
          class="uk-button uk-button-success"
          data-scroll-to="procrastinationTaskController.domId"
          data-ng-click="procrastinationTaskController.update()"
          data-ng-disabled="!procrastinationTaskController.canResolve()"
          data-scroll-to-disabled="!procrastinationTaskController.canResolve()">
          Weiter
        </button>
      </div>
    </div>

  </div>

  <!-- DECISION -->
  <div data-ng-switch-when="DECISION">
    <p>Bitte entscheide dich, wie du die Aufgabe lösen willst:</p>
    <div class="uk-text-center">
      <div class="uk-margin">
        <button
          class="uk-button uk-margin-small-top uk-margin-small-bottom"
          data-ng-click="procrastinationTaskController.setMode('SPLIT')"
          data-ng-class="{
            'uk-button-primary': procrastinationTaskController.mode === 'SPLIT',
            'uk-button-default': procrastinationTaskController.mode !== 'SPLIT'
          }">
          In drei kleineren Teilen (3 x 50)
        </button>
        <button
          class="uk-button uk-margin-small-top uk-margin-small-bottom"
          data-ng-click="procrastinationTaskController.setMode('ALL')"
          data-ng-class="{
            'uk-button-primary': procrastinationTaskController.mode === 'ALL',
            'uk-button-default': procrastinationTaskController.mode !== 'ALL'
          }">
          Alles auf einmal (1 x 150)
        </button>
      </div>
      <div class="uk-margin">
        <button
          class="uk-button uk-button-success"
          data-scroll-to="procrastinationTaskController.domId"
          data-ng-click="procrastinationTaskController.update()"
          data-ng-disabled="!procrastinationTaskController.canResolve()"
          data-scroll-to-disabled="!procrastinationTaskController.canResolve()">
          Weiter
        </button>
      </div>
    </div>
  </div>

  <!-- PLAYING -->
  <div data-ng-switch-when="PLAYING">
      <p data-ng-if="!procrastinationTaskController.resolved">
        <span data-ng-if="procrastinationTaskController.mode==='ALL'">
          <span>Du hast noch </span>
          <span><strong data-ng-bind="procrastinationTaskController.getRemainingTime()"></strong>, </span>
          <span>um die Aufgabe mit <span data-ng-bind="procrastinationTaskController.minCatched"></span> </span>
          <span>Seifenblasen zu erfüllen.</span>
        </span>

        <span data-ng-if="procrastinationTaskController.mode==='SPLIT'">
          <span>Du hast noch </span>
          <span><strong data-ng-bind="procrastinationTaskController.getRemainingTime()"></strong>, </span>
          <span>
            <span>um die Teilfaugabe <span data-ng-bind="procrastinationTaskController.getCurrentRound()"></span> </span>
            <span>mit <span data-ng-bind="procrastinationTaskController.minCatched"></span> </span>
          <span>Seifenblasen zu erfüllen</span>
        </span>
      </p>

      <p data-ng-if="procrastinationTaskController.resolved">
        <strong
          class="uk-text-danger"
          data-ng-if="!procrastinationTaskController.hasSuccess()">
          <span>Leider hast du Aufgaben nicht gelöst.</span>
        </strong>
        <strong
          class="uk-text-success"
          data-ng-if="procrastinationTaskController.hasSuccess()">
          <span>Herzlichen Glückwunsch, du hast die Aufgabe gelöst.</span>
        </strong>
      </p>

      <div class="uk-text-center">
        <div
          data-procrastination-task-game=""
          data-procrastination-task-game-expired="procrastinationTaskController.isInvalid()"
          data-procrastination-task-game-max-rounds="procrastinationTaskController.openRounds"
          data-procrastination-task-game-max-escaped="procrastinationTaskController.maxEscaped"
          data-procrastination-task-game-min-catched="procrastinationTaskController.minCatched"
          data-procrastination-task-game-on-game-done="procrastinationTaskController.update(result)">
        </div>
      </div>
    </div>

</div>
