<div class="procrastination-task">
  <div
    data-ng-switch="procrastinationTaskController.state"
    data-ng-attr-id="{{procrastinationTaskController.domId}}">

    <!-- IDLE -->
    <div data-ng-switch-when="IDLE">
      <p>Die folgende Situation kommt dir sicher bekannt vor: Du solltest für eine Schularbeit lernen und nimmst dir vor, diesmal rechtzeitig damit zu beginnen. Leider kommen jedoch viele Dinge dazwischen und du startest erst im letzten Moment mit der Vorbereitung. Danach ärgerst du dich über dich selbst, da du dich nun zusätzlich gestresst fühlst und nicht mehr ausreichend Zeit für die Vorbereitung hast.</p>

      <p>Die folgende Übung zeigt dir eine Strategie auf, wie sich dieses <strong>Problem der Aufschieberitis</strong> überwinden lässt. Bei dieser Übung kannst du 5 Lose verdienen, musst dafür aber bis zum nächsten Treffen eine große Aufgabe lösen.</p>

      <p>Deine Aufgabe besteht darin, <strong>150 Seifenblasen platzen zu lassen</strong>, bevor sie die Wolken am oberen Bildschirmrand erreichen. Dabei dürfen dir <strong>jedoch maximal 15 Seifenblasen entkommen</strong>, sonst musst du neu starten.</p>

      <p>Der beste Weg, Aufschieberitis zu bekämpfen, ist, die anstehende <strong>Aufgabe zunächst in kleinere Portionen</strong> aufzuteilen. Diese kleineren Arbeitsschritte wirken nicht mehr so abschreckend wodurch es uns leichter, mit der Aufgabe zu beginnen. In einem zweiten Schritt sollten wir uns <strong>für diese kleineren Arbeitsschritte Fristen setzen</strong>, bis zu denen wir sie fertigstellen wollen.</p>

      <p>Entsprechend kannst du auch die <strong>Übung auf zwei Arten erledigen</strong>:</p>

      <p>Du kannst nun selbst entscheiden, ob du die Aufgabe mit den Seifenblasen <strong>in 3 kleinere Schritte aufteilen</strong> möchtest. Wenn du dich für die Aufteilung entscheidest, hast du für jede Teilaufgabe 2 Wochen Zeit. In jeder Teilaufgabe musst du nur jeweils 50 Seifenblasen platzen lassen, wobei dir jeweils maximal 5 entkommen dürfen. Du kannst aber auch schon früher mit der nächsten Teilaufgabe beginnen.</p>

      <p>Wenn du dich entscheidest, die <strong>Aufgabe nicht aufzuteilen</strong>, hast du bis zum nächsten Treffen Zeit, musst die Aufgabe aber am Stück lösen, also 150 Seifenblasen auf einmal fangen.</p>

      <p>Zur Übung kannst du nun die Aufgabe kurz kennenlernen und 20 Seifenblasen platzen lassen:</p>

      <div
        data-procrastination-task-game=""
        data-procrastination-task-game-max-escaped="procrastinationTaskController.warmupMaxEscaped"
        data-procrastination-task-game-min-catched="procrastinationTaskController.warmupMinCatched"
        data-procrastination-task-game-on-game-done="procrastinationTaskController.setWarmup(true)"
        data-procrastination-task-game-on-game-quit="procrastinationTaskController.setWarmup(false)">
      </div>

      <div class="uk-margin-medium">
        <div data-locked-state="procrastinationTaskController.isLocked()">
          <!-- use default text -->
        </div>

        <button
          class="uk-button uk-button-success"
          data-scroll-to="procrastinationTaskController.domId"
          data-ng-click="procrastinationTaskController.update()"
          data-ng-disabled="!procrastinationTaskController.canResolve()">
          Weiter
        </button>
      </div>

    </div>

    <!-- DECISION -->
    <div data-ng-switch-when="DECISION">
      <p>Bitte entscheide dich, wie du die Aufgabe lösen willst:</p>
      <div class="uk-margin">
        <button
          class="uk-button uk-margin-small-top uk-margin-small-bottom"
          data-ng-click="procrastinationTaskController.setMode('SPLIT')"
          data-ng-class="{
            'uk-button-primary': procrastinationTaskController.mode === 'SPLIT',
            'uk-button-default': procrastinationTaskController.mode !== 'SPLIT'
          }">
          In drei kleineren Teilen (3 x 50)
        </button>
        <button
          class="uk-button uk-margin-small-top uk-margin-small-bottom"
          data-ng-click="procrastinationTaskController.setMode('ALL')"
          data-ng-class="{
            'uk-button-primary': procrastinationTaskController.mode === 'ALL',
            'uk-button-default': procrastinationTaskController.mode !== 'ALL'
          }">
          Alles auf einmal (1 x 150)
        </button>
      </div>
      <div class="uk-margin">
        <button
          class="uk-button uk-button-success"
          data-scroll-to="procrastinationTaskController.domId"
          data-ng-click="procrastinationTaskController.update()"
          data-ng-disabled="!procrastinationTaskController.canResolve()">
          Weiter
        </button>
      </div>
    </div>

    <!-- PLAYING -->
    <div data-ng-switch-when="PLAYING">
      <p data-ng-if="!procrastinationTaskController.resolved">
        <span data-ng-if="procrastinationTaskController.mode==='ALL'">
          <span>Du hast noch </span>
          <span><strong data-ng-bind="procrastinationTaskController.getRemainingTime()"></strong>, </span>
          <span>um die Aufgabe mit <span data-ng-bind="procrastinationTaskController.minCatched"></span> </span>
          <span>Seifenblasen zu erfüllen.</span>
        </span>

        <span data-ng-if="procrastinationTaskController.mode==='SPLIT'">
          <span>Du hast noch </span>
          <span><strong data-ng-bind="procrastinationTaskController.getRemainingTime()"></strong>, </span>
          <span>
            <span>um die Teilfaugabe <span data-ng-bind="procrastinationTaskController.getCurrentRound()"></span> </span>
            <span>mit <span data-ng-bind="procrastinationTaskController.minCatched"></span> </span>
          <span>Seifenblasen zu erfüllen</span>
        </span>
      </p>

      <p data-ng-if="procrastinationTaskController.resolved">
        <strong
          class="uk-text-danger"
          data-ng-if="!procrastinationTaskController.hasSuccess()">
          <span>Du hast das Ziel leider nicht erreicht und erhältst daher nur </span>
          <span data-ng-bind="procrastinationTaskController.getTicketCount()"> </span>
          <span data-ng-if="procrastinationTaskController.getTicketCount() === 1">Los </span>
          <span data-ng-if="procrastinationTaskController.getTicketCount() !== 1">Lose </span>
          <span>für die Bearbeitung!</span>
        </strong>
        <strong
          class="uk-text-success"
          data-ng-if="procrastinationTaskController.hasSuccess()">
          <span>Gratuliere! Du hast die Aufgabe erfolgreich bearbeitet und erhältst dafür </span>
          <span data-ng-bind="procrastinationTaskController.getTicketCount()"> </span>
          <span data-ng-if="procrastinationTaskController.getTicketCount() === 1">Los!</span>
          <span data-ng-if="procrastinationTaskController.getTicketCount() !== 1">Lose!</span>
        </strong>
      </p>

      <div
        data-procrastination-task-game=""
        data-procrastination-task-game-expired="procrastinationTaskController.isInvalid()"
        data-procrastination-task-game-max-rounds="procrastinationTaskController.openRounds"
        data-procrastination-task-game-max-escaped="procrastinationTaskController.maxEscaped"
        data-procrastination-task-game-min-catched="procrastinationTaskController.minCatched"
        data-procrastination-task-game-on-game-done="procrastinationTaskController.update(result)">
      </div>
    </div>

  </div>
</div>
