<div class="savings-target-task">

  <div data-locked-state="savingsTargetTaskController.isLocked()">
    <!-- default text -->
  </div>

  <form
    class="uk-form-stacked"
    novalidate="novalidate"
    name="savingsTargetTaskController.form"
    data-ng-if="!savingsTargetTaskController.isLocked()">

    <p>Hast du einen finanziellen Wunsch (Moped, Reise, Smartphone, Schmuck, Snowboard, ...), den du dir gerne erfüllen würdest? Bitte trage in der folgenden Zeile diesen Wunsch ein:</p>

    <div class="uk-text-center">
      <div
        class="uk-margin"
        data-form-field=""
        data-form-field-reset-empty="false">
        <label class="uk-text-uppercase uk-text-bold">
          Bitte trage deinen Wunsch hier ein:
        </label>
        <input
          type="text"
          name="wish"
          autocomplete="off"
          data-ng-required="true"
          data-form-field-model=""
          class="uk-input uk-width-1-2@s"
          data-ng-model="savingsTargetTaskController.wish"
          data-ng-disabled="savingsTargetTaskController.resolved">
        <message-required>
          Bitte gib deinen finanziellen Wunsch an!
        </message-required>
      </div>

      <div
        class="uk-margin"
        data-form-field=""
        data-form-field-reset-empty="false">
        <label class="uk-text-uppercase uk-text-bold">
          Wieviel würdest du monatlich dafür sparen?
        </label>
        <input
          type="number"
          name="amount"
          autocomplete="off"
          data-ng-required="true"
          data-form-field-model=""
          class="uk-input uk-width-1-2@s"
          data-ng-model="savingsTargetTaskController.amount"
          data-ng-min="savingsTargetTaskController.minAmount"
          data-ng-max="savingsTargetTaskController.maxAmount"
          data-ng-disabled="savingsTargetTaskController.resolved">
        <message-required>
          Bitte gib deinen monatlichen Sparbetrag an!
        </message-required>
        <message-min>
          <span>Deine Eingabe unterschreitet den Minimalbetrag von </span>
          <span data-ng-bind="savingsTargetTaskController.minAmount|currency:'€ ':2"></span>
          <span>!</span>
        </message-min>
        <message-max>
          <span>Deine Eingabe überschreitet den Maximalbetrag von </span>
          <span data-ng-bind="savingsTargetTaskController.maxAmount|currency:'€ ':2"></span>
          <span>!</span>
        </message-max>
      </div>

    </div>

    <div data-evaluation="savingsTargetTaskController">
      <evaluation-text>
        <div
          data-video
          data-video-id="'PA0TQh-hJgo'">
        </div>

        <p>Das ist Chris. Chris spart schon sehr lange auf ein Moped, aber leider ist sein Sparschwein immer noch fast leer. Denn jedes Mal, wenn Chris etwas haben möchte, denkt er nicht lange nach, sondern kauft es einfach. Was könnte Chris dabei helfen, sein Sparziel doch zu erreichen?</p>

        <p>Einen der wichtigsten Tricks hast du bereits im Workshop kennengelernt, nämlich die eigene Vorstellungskraft zu nützen. Nach dem Workshop erinnert sich auch Christoph, dass es hilfreich sein kann, sich die Freude über das erreichte Ziel genau auszumalen. Also stellt er sich vor, wie er mit dem gesparten Geld ein tolles Moped und einen passendes Helm aussucht und dann das erste Mal damit fährt; und wie er seine Freundin damit abholt, um gemeinsam mit ihr einen Ausflug zu machen.</p>

        <p>Durch diese lebhafte Vorstellung fällt es ihm leichter, geduldig zu sein und regelmäßig zu sparen, anstatt das Geld spontan für unnötige Dinge auszugeben, die er danach meistens ohnehin bereut. Und tatsächlich – am Ende hat er genug gespart und kann den ersten Ausflug mit seinem neuen Moped machen.</p>
      </evaluation-text>
    </div>

  </form>
</div>
