<div class="savings-supported-task">

  <div data-locked-state="savingsSupportedTaskController.isLocked()">
    <!-- use default text -->
  </div>

  <div data-ng-if="!savingsSupportedTaskController.isLocked()">
    <div
      data-video
      data-video-id="'QbkF1H2imvo'">
    </div>

    <p>Es gibt Situationen, in denen man einen finanziellen Polster braucht, etwa im Falle einer Krankheit, beim Kauf einer Wohnung, oder wenn man eine Familie gründet. Daher ist es sehr wichtig, für die Zukunft zu sparen. Am leichtesten fällt uns das, wenn wir regelmäßig kleine Beträge auf die Seite bringen, weil wir dann auch nur auf Kleinigkeiten verzichten müssen. Trotzdem ist es nicht immer einfach, konsequent zu bleiben.</p>
    <p>In einer Studie wurden verschiedene Vorschläge untersucht, die uns beim Sparen unterstützen könnte. Was glaubst du, mit welcher Idee die größte Wirkung erzielt wurde?</p>

    <div
      data-uk-grid=""
      data-card-container=""
      class="uk-grid-match uk-child-width-1-2">

      <div
        data-card=""
        data-card-data="1"
        data-card-is-checkbox="true"
        data-card-disabled="savingsSupportedTaskController.resolved"
        data-card-on-click="savingsSupportedTaskController.update(data, selected)">
        <card-title>Option 1</card-title>
        <card-text>Regelmäßige Erinnerungs-SMS</card-text>
        <card-buttons></card-buttons>
      </div>

      <div
        data-card=""
        data-card-data="2"
        data-card-is-checkbox="true"
        data-card-disabled="savingsSupportedTaskController.resolved"
        data-card-on-click="savingsSupportedTaskController.update(data, selected)">
        <card-title>Option 2</card-title>
        <card-text>Erinnerungs-SMS der eigenen Kinder</card-text>
        <card-buttons></card-buttons>
      </div>

      <div
        data-card=""
        data-card-data="3"
        data-card-is-checkbox="true"
        data-card-disabled="savingsSupportedTaskController.resolved"
        data-card-on-click="savingsSupportedTaskController.update(data, selected)">
        <card-title>Option 3</card-title>
        <card-text>Prämie von +20% auf den gesparten Betrag</card-text>
        <card-buttons></card-buttons>
      </div>

      <div
        data-card=""
        data-card-data="4"
        data-card-is-checkbox="true"
        data-card-disabled="savingsSupportedTaskController.resolved"
        data-card-on-click="savingsSupportedTaskController.update(data, selected)">
        <card-title>Option 4</card-title>
        <card-text>Sparmünze</card-text>
        <card-buttons></card-buttons>
      </div>

    </div>

    <div data-evaluation="savingsSupportedTaskController">
      <evaluation-text>
        <p>In der Studie hat sich gezeigt, dass die Sparmünze die größte Wirkung erzielt hat. Daher hast du im Workshop als kleine Hilfe die Sparmünze erhalten. Du hast dir einen ehrgeizigen, aber erreichbaren Betrag überlegt, den du wöchentlich ansparen willst. Immer, wenn du in einer Woche diesen Betrag tatsächlich gespart hast, darfst du ein Feld auf der Münze freirubbeln. So werden dein Erfolg und dein Fortschritt beim Sparen sichtbar.</p>
      </evaluation-text>
    </div>

  </div>

</div>
