<div class="savings-target-task">
  <div data-locked-state="savingsTargetTaskController.isLocked()">
    <user-text>Die Aufgabe ist derzeit pausiert - bitte warte auf weitere Instruktionen!</user-text>
  </div>

  <form
    class="uk-form-stacked"
    novalidate="novalidate"
    name="savingsTargetTaskController.form"
    data-ng-if="!savingsTargetTaskController.isLocked()">

    <!-- STEP 1 -->
    <div data-ng-if="savingsTargetTaskController.step === 1">

      <p>Hast du einen finanziellen Wunsch (Moped, Reise, Smartphone, Schmuck, Snowboard, ...), den du dir gerne erfüllen würdest? Bitte trage in der folgenden Zeile diesen Wunsch ein:</p>

      <div class="uk-text-center">
        <div
          class="uk-margin"
          data-form-field=""
          data-form-field-reset-empty="false">
          <label class="uk-text-uppercase uk-text-bold">
            Bitte trage deinen Wunsch hier ein:
          </label>
          <input
            type="text"
            name="wish"
            data-ng-required="true"
            data-form-field-model=""
            class="uk-input uk-width-1-2@s"
            data-ng-model="savingsTargetTaskController.wish">
          <message-required>
            Bitte gib deinen finanziellen Wunsch an!
          </message-required>
        </div>

        <div
          class="uk-margin"
          data-form-field=""
          data-form-field-reset-empty="false">
          <label class="uk-text-uppercase uk-text-bold">
            Wieviel würdest du monatlich dafür sparen?
          </label>
          <input
            type="number"
            name="amount"
            data-ng-required="true"
            data-form-field-model=""
            class="uk-input uk-width-1-2@s"
            data-ng-model="savingsTargetTaskController.amount"
            data-ng-min="savingsTargetTaskController.minAmount"
            data-ng-max="savingsTargetTaskController.maxAmount">
          <message-required>
            Bitte gib deinen monatlichen Sparbetrag an!
          </message-required>
          <message-min>
            <span>Deine Eingabe unterschreitet den Minimalbetrag von </span>
            <span data-ng-bind="savingsTargetTaskController.minAmount|currency:'€ ':2"></span>
            <span>!</span>
          </message-min>
          <message-max>
            <span>Deine Eingabe überschreitet den Maximalbetrag von </span>
            <span data-ng-bind="savingsTargetTaskController.maxAmount|currency:'€ ':2"></span>
            <span>!</span>
          </message-max>
        </div>

        <div class="uk-margin">
          <button
            type="submit"
            class="uk-button uk-button-success"
            data-ng-click="savingsTargetTaskController.update()"
            data-ng-disabled="!savingsTargetTaskController.canResolve()">
            Weiter
          </button>
        </div>
      </div>

    </div>

    <!-- STEP 2 -->
    <div data-ng-if="savingsTargetTaskController.step === 2">

      <div class="uk-text-center">
        <div class="uk-inline">
          <div class="uk-card uk-card-default uk-card-small">
            <div class="uk-card-header">
              <strong>Dein finanzieller Wunsch war:</strong>
            </div>
            <div class="uk-card-body">
              <p
                class="uk-text-uppercase "
                data-ng-bind="savingsTargetTaskController.wish">
              </p>
            </div>
          </div>
        </div>

        <div class="uk-margin">
          <button
            type="button"
            class="uk-button uk-button-success"
            data-ng-click="savingsTargetTaskController.update()"
            data-ng-disabled="!savingsTargetTaskController.canResolve()">
            Weiter
          </button>
        </div>
      </div>

    </div>

    <!-- STEP 3 -->
    <div data-ng-if="savingsTargetTaskController.step === 3">
      <p>Bitte gib nun ein, wie viel du bereit wärst, monatlich für dieses Ziel anzusparen:</p>

      <div class="uk-text-center">
        <div
          class="uk-margin"
          data-form-field=""
          data-form-field-reset-empty="false">
          <label class="uk-text-uppercase uk-text-bold">
            Mein monatlicher Sparbetrag lautet:
          </label>
          <input
            type="number"
            name="amountRepeated"
            data-ng-required="true"
            data-form-field-model=""
            class="uk-input uk-width-1-2@s"
            data-ng-min="savingsTargetTaskController.minAmount"
            data-ng-max="savingsTargetTaskController.maxAmount"
            data-ng-model="savingsTargetTaskController.amountRepeated">
          <message-required>
            Bitte gib den monatlichen Sparbetrag an!
          </message-required>
          <message-min>
            <span>Deine Eingabe unterschreitet den Minimalbetrag von </span>
            <span data-ng-bind="savingsTargetTaskController.minAmount|currency:'€ ':2"></span>
            <span>!</span>
          </message-min>
          <message-max>
            <span>Deine Eingabe überschreitet den Maximalbetrag von </span>
            <span data-ng-bind="savingsTargetTaskController.maxAmount|currency:'€ ':2"></span>
            <span>!</span>
          </message-max>
        </div>

        <div data-evaluation="savingsTargetTaskController">
          <evaluation-text>
            <div class="uk-placeholder">Video</div>

            <p>Das ist Chris. Chris spart schon sehr lange auf ein Moped, aber leider ist sein Sparschwein immer noch fast leer. Denn jedes Mal, wenn Chris etwas haben möchte, denkt er nicht lange nach, sondern kauft es einfach. Was könnte Chris dabei helfen, sein Sparziel doch zu erreichen?</p>

            <p>Einen der wichtigsten Tricks hast du bereits im Workshop kennengelernt, nämlich die eigene Vorstellungskraft zu nützen. Nach dem Workshop erinnert sich auch Christoph, dass es hilfreich sein kann, sich die Freude über das erreichte Ziel genau auszumalen. Also stellt er sich vor, wie er mit dem gesparten Geld ein tolles Moped und einen passendes Helm aussucht und dann das erste Mal damit fährt; und wie er seine Freundin damit abholt, um gemeinsam mit ihr einen Ausflug zu machen.</p>

            <p>Durch diese lebhafte Vorstellung fällt es ihm leichter, geduldig zu sein und regelmäßig zu sparen, anstatt das Geld spontan für unnötige Dinge auszugeben, die er danach meistens ohnehin bereut. Und tatsächlich – am Ende hat er genug gespart und kann den ersten Ausflug mit seinem neuen Moped machen.</p>
          </evaluation-text>
        </div>
      </div>

    </div>

  </form>
</div>
