<div class="self-commitment">

  <div data-locked-state="selfCommitmentTaskController.isLocked()">
    <!-- use default text -->
  </div>

  <div data-ng-if="!selfCommitmentTaskController.isLocked()">
    <div
      data-video
      data-video-id="id"
      data-ng-class="{
        'uk-margin-bottom': !$last
      }"
      data-video-on-ended="selfCommitmentTaskController.update(id)"
      data-ng-repeat="(id, state) in selfCommitmentTaskController.videos">
    </div>

    <p>Das Schwierige an langfristigen Sparzielen ist, dass uns im Laufe der Zeit vieles dazwischenkommen kann. Auch wenn uns das Ziel eigentlich wichtig ist, scheint es doch irgendwie weit weg. Oft geben wir dann unser Geld für Dinge aus, von denen wir jetzt gleich etwas haben, anstatt es für unser großes Ziel zu sparen. Glücklicherweise gibt es aber einige Tricks, mit denen wir uns selbst überlisten und auch unsere langfristigen Ziele erreichen können.</p>

    <p>Lukas hat zu seinem 15. Geburtstag 100 Euro von seinen Großeltern bekommen. Er möchte das Geld für den Führerschein sparen, befürchtet aber, dass er es bereits früher ausgeben wird. Lukas legt daher das Geld auf ein Kapitalsparbuch mit dreijähriger Bindung, bei dem er höhere Zinsen erhält als auf einem ungebundenen Sparbuch.</p>

    <p>Auch Hannah will für ihren Führerschein sparen und plant, dafür jeden Monat 10 Euro auf die Seite legen. Leider hat dieser Plan bisher nicht so gut funktioniert, da sie immer wieder zu viel ausgibt. Darum eröffnet sie ein Prämiensparbuch mit dreijähriger Laufzeit und vereinbart mit der Bank, monatlich 10 Euro einzuzahlen. Hannah erhält dafür ebenfalls höhere Zinsen.</p>

    <p>Um diese höheren Zinsen auch wirklich zu bekommen, müssen Lukas und Hannah das Geld während der gesamten Laufzeit auf ihren Sparbüchern belassen. Das kann eine zusätzliche Motivation sein, das Geld nicht vorzeitig abzuheben.</p>

    <p>Einen Mittelweg ist das Sparkonto ohne Bindung, das Banken oft zusätzlich zum Girokonto anbieten. Geld, das gespart werden soll, kann vom Girokonto auf das Sparkonto übertragen werden. Bei den meisten Banken muss Geld vom Sparkonto zunächst wieder auf das Girokonto übertragen werden, bevor es behoben werden kann. Mit diesem zusätzlichen Schritt hast du Zeit, erst zu überlegen, ob du das Geld auch wirklich ausgeben willst.</p>

    <p>Mit ähnlichen Tricks kannst du auch deine Ausgaben im Griff behalten. Wenn zum Beispiel deine Handyrechnungen immer wieder sehr hoch sind, kannst du von deinem Tarifvertrag auf eine Wertkarte wechseln. Dadurch legst du im Vorfeld fest, wie viel Geld du fürs Telefonieren und Internetsurfen ausgeben möchtest. Auch beim Einkaufen oder Ausgehen kannst du unangenehme Überraschungen bei deinen Ausgaben vermeiden, wenn du nur einen bestimmten Geldbetrag mitnimmst und die Bankomatkarte zu Hause lässt.</p>
  </div>

</div>
