<div class="self-commitment">

  <div class="uk-placeholder">VIDEO #1</div>

  <div class="uk-placeholder">VIDEO #2</div>

  <p>Es ist nicht immer leicht, seine <strong>Ziele konsequent zu verfolgen</strong>. Oft kommen kleinere und größere Versuchungen dazwischen, die uns von unseren Zielen abbringen. Es gibt zum Glück aber ein paar einfache Tricks, wie man sich selber "überlisten" kann.</p>

  <p>Wir können es ähnlich machen, wie der <strong>Seefahrer Odysseus</strong> in einer alten griechischen Erzählung. Er musste auf seinem Weg nach Hause an einer Insel vorbei segeln, auf der die Sirenen lebten: Schöne Frauen, die bezaubernd singen konnten. Mit ihrem Gesang lockten sie Seefahrer an, um sie dann zu töten. Odysseus wusste das und ließ sich an der Vorüberfahrt an den Mast binden. So konnte er der Verlockung nicht nachgeben und unbeirrt nach Hause segeln.</p>
  <p>Diese Idee von Odysseus, <strong>sich selbst zu binden, um ein Ziel zu erreichen</strong>, können wir in vielen Situationen nützen. Wenn du beispielsweise Schwierigkeiten hast, dich zum Lernen zu motivieren, kannst du mit deinen Freunden einen fixen Termin ausmachen, an dem ihr gemeinsam lernt.</p>
  <p>Welche Möglichkeiten gibt es, diese Strategie auch für unsere finanziellen Ziele einzusetzen?</p>
  <p>Lukas hat zu seinem 15. Geburtstag 100 Euro von seinen Großeltern bekommen. Er möchte das Geld für den Führerschein sparen, befürchtet aber, dass er es bereits früher für andere Dinge ausgeben wird. Da erinnert sich Lukas an die Geschichte von Odysseus und legt das Geld auf ein <strong>Kapitalsparbuch mit dreijähriger Bindung</strong>, bei dem er höhere Zinsen als auf einem ungebundenen Sparbuch erhält.</p>
  <p>Auch Hannah will für ihren Führerschein sparen und dafür jeden Monat 10 Euro auf die Seite legen. Leider hat dieser Plan bisher nicht so gut funktioniert, da sie immer wieder zu viel ausgibt. Darum eröffnet sie ein <strong>Prämiensparbuch mit dreijähriger Laufzeit</strong> und vereinbart mit der Bank, monatlich 10 Euro einzuzahlen.  Hannah erhält dafür ebenfalls höhere Zinsen.</p>
  <p>Lukas und Hannah haben sich also durch ihre Vereinbarungen mit der Bank gebunden, tatsächlich zu sparen. Nur wenn sie das Geld nicht vorzeitig beheben, bekommen sie die höheren Zinsen.</p>
  <p>Einen <strong>Mittelweg bildet das Sparkonto ohne Bindung</strong>, das Banken oft zusätzlich zum Girokonto anbieten. Geld, das gespart werden soll, kann dann vom Girokonto auf das Sparkonto übertragen werden, welches höhere Zinsen bietet. Bei den meisten Banken muss Geld vom Sparkonto zunächst wieder auf das Girokonto übertragen werden, bevor es behoben werden kann. Mit diesem zusätzlichen Schritt haben wir Zeit, erst zu überlegen, ob wir das Geld auch wirklich ausgeben wollen, und können so unseren kurzfristigen Impulsen leichter widerstehen.</p>
  <p>Das <strong>Konzept der Selbstbindung</strong> funktioniert auch bei einer Vielzahl von anderen Gelegenheiten. So  können wir beispielsweise über Wertkarten (statt eines Tarifvertrags) festlegen, wie viel Geld wir für unser Handy ausgeben wollen, oder beim Ausgehen nur einen bestimmten Geldbetrag mitnehmen und die Bankomatkarte zu Hause lassen.</p>

  <p><strong>Wenn du die Videos angeschaut hast, dann klicke bitte auf "Weiter" um ein Los dafür zu erhalten.</strong></p>

  <div data-locked-state="selfCommitmentTaskController.isLocked()">
    <!-- use default text -->
  </div>

  <button
    class="uk-button uk-button-success"
    data-ng-click="selfCommitmentTaskController.resolve()"
    data-ng-disabled="!selfCommitmentTaskController.canResolve()">
    <span>Weiter</span>
  </button>
</div>
