<div
  data-tabber=""
  data-tabber-icon="'interest-task.svg'">

  <tabber-description>
    <p>Diese Aufgabe dreht sich um einen der wichtigsten Begriffe in der Finanzwelt: Die Zinsen. Das Wort hast du sicher schon oft gehört - doch worum geht es dabei genau?</p>
  </tabber-description>

  <tabber-exercise>
    <div
      data-interest-task=""
      data-interest-task-on-update="frontendController.updateResult(payload)"
      data-interest-task-on-resolve="frontendController.createResult(payload)">
    </div>
  </tabber-exercise>

</div>
