<div
  data-tabber=""
  data-tabber-icon="'interest-task.svg'">

  <tabber-description>
    <p>Diese Aufgabe dreht sich um einen der wichtigsten Begriffe in der Finanzwelt: Die Zinsen. Das Wort hast du sicher schon oft gehört - doch worum geht es dabei genau?</p>
    <p>Zinsen sind gewissermaßen eine <strong>Belohnung dafür, dass du jemand anderem dein Geld für eine bestimmte Zeit leihst</strong>. Wenn du beispielsweise Geld für 5 Jahre auf ein Sparbuch legst, leihst du es während dieser Zeit deiner Bank. Dafür erhältst du von der Bank jährlich Zinsen gutgeschrieben, sodass dein Vermögen immer weiter wächst. Bei dieser Aufgabe bekommst du von uns ein Spielgeld-Sparbuch und kannst damit lernen, wie sich Zinsen auf dein Guthaben auswirken.</p>
  </tabber-description>

  <tabber-exercise>
    <div
      data-interest-task=""
      data-interest-task-on-resolve="frontendController.createResult(payload)">
    </div>
  </tabber-exercise>

</div>
