<div class="uk-background-default uk-text-center uk-padding">
  <div class="uk-container">
    <div class="uk-margin-bottom-small">
      <img
        id="logo-uibk"
        alt="Universität Innsbruck"
        src="img/logo-uibk.png"
        class="uk-margin-bottom uk-margin-small-left uk-margin-small-right">
      <img
        id="logo-ak"
        alt="AK Tirol"
        src="img/logo-ak.png"
        class="uk-margin-bottom uk-margin-small-left uk-margin-small-right">
    </div>
    <div class="uk-margin-small-top">Ein Projekt der Uni Innsbruck in Zusammenarbeit mit der AK Tirol</div>
    <div class="uk-text-meta">© 2017 by Universität Innsbruck, Institut für Banken und Finanzen.</div>
    <div class="uk-text-meta">Alle Illustrationen wurden von <a href="http://www.freepik.com/freepik">Freepik</a> und <a href="http://www.freepik.com/dooder">Dooder</a> erstellt.</div>
  </div>
</div>
