<!-- Begin: Header -->
<header
  id="header"
  data-ui-view="navbar">
</header>
<!-- End: Header -->

<!-- Begin: Main -->
<main id="main" class="uk-text-center">

  <!-- Begin: Content -->
  <div id="content" class="uk-container">
    <div id="home" data-ui-view="home"></div>
    <div id="topics" data-ui-view="topics"></div>
    <div id="consumer-behaviour" data-ui-view="consumer-behaviour"></div>
    <div id="self-control" data-ui-view="self-control"></div>
    <div id="financial-knowledge" data-ui-view="financial-knowledge"></div>
  </div>
  <!-- End: Content -->

  <div id="status" data-ui-view="status"></div>
  <div id="contact" data-ui-view="contact"></div>
</main>
<!-- End: Main -->

<!-- Start: Footer -->
<footer
  id="footer"
  data-ui-view="footer">
</footer>
<!-- End: Footer -->
