<!-- Begin: Header -->
<header
  id="header"
  data-ui-view="navbar">
</header>
<!-- End: Header -->

<!-- Begin: Main -->
<main id="main" class="uk-text-center">

  <!-- Begin: Content -->
  <div id="content" class="uk-container">
    <div id="home" data-ui-view="home"></div>
    <div id="topics" data-ui-view="topics"></div>
    <div id="consumer-behaviour" data-ui-view="consumer-behaviour"></div>
    <div id="self-control" data-ui-view="self-control"></div>
    <div id="financial-knowledge" data-ui-view="financial-knowledge"></div>
  </div>
  <!-- End: Content -->

  <div id="status" data-ui-view="status"></div>
  <div id="contact" data-ui-view="contact"></div>
</main>
<!-- End: Main -->

<!-- Start: Footer -->
<footer
  id="footer"
  data-ui-view="footer">
</footer>
<!-- End: Footer -->

<!-- Start: Logout -->
<div data-modal="frontendController.confirmLogout">
  <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Bestätigen</h2>
      <p data-ng-if="frontendController.user.isUser()">
        Möchtest du dich wirklich abmelden?
      </p>
      <p data-ng-if="!frontendController.user.isUser()">
        Möchten Sie sich wirklich abmelden?
      </p>
      <p class="uk-text-right">
        <button
          type="button"
          class="uk-button uk-button-default uk-modal-close">
          Abbrechen
        </button>
        <button
          type="button"
          class="uk-button uk-button-primary uk-modal-close"
          data-ng-click="frontendController.logout()">
          Abmelden
        </button>
      </p>
  </div>
</div>
<!-- End: Logout -->
