<form
  id="loginForm"
  name="loginForm"
  novalidate="novalidate"
  class="uk-form-stacked uk-text-center uk-margin-auto">

  <div class="uk-background-default uk-padding-small">

    <div class="uk-margin-bottom">
      <img
        id="logo-efit"
        alt="Financial Training"
        src="img/logo-efit.png">
    </div>

    <div
      data-ui-view=""
      class="uk-padding-small">
    </div>

  </div>

  <div class="uk-margin-small">
    <div class="uk-text-small">Ein Projekt der Uni Innsbruck in Zusammenarbeit mit der AK Tirol</div>
    <div class="uk-text-meta">© 2017 by Universität Innsbruck, Institut für Banken und Finanzen.</div>
    <div class="uk-text-meta">Alle Illustrationen wurden von <a href="http://www.freepik.com/freepik">Freepik</a> und <a href="http://www.freepik.com/dooder">Dooder</a> erstellt.</div>
  </div>
</form>
