<span
  data-ng-style="{'color': statusIconsController.color }"
  data-ng-attr-data-uk-icon="{{'icon:star; ratio:' + statusIconsController.ratio}}"
  data-ng-class="{
    'uk-icon-filled uk-animation-scale-down': statusIconsController.isBeginner,
  }">
</span>
<span
  data-ng-style="{'color': statusIconsController.color }"
  data-ng-attr-data-uk-icon="{{'icon:star; ratio:' + statusIconsController.ratio}}"
  data-ng-class="{
    'uk-icon-filled uk-animation-scale-down': statusIconsController.isAmateur,
  }">
</span>
<span
  data-ng-style="{'color': statusIconsController.color }"
  data-ng-attr-data-uk-icon="{{'icon:star; ratio:' + statusIconsController.ratio}}"
  data-ng-class="{
    'uk-icon-filled uk-animation-scale-down': statusIconsController.isAdvanced,
  }">
</span>
<span
  data-ng-style="{'color': statusIconsController.color }"
  data-ng-attr-data-uk-icon="{{'icon:star; ratio:' + statusIconsController.ratio}}"
  data-ng-class="{
    'uk-icon-filled uk-animation-scale-down': statusIconsController.isExpert,
  }">
</span>
