<ul
  class="uk-tab"
  data-ng-attr-id="{{tabberController.domId}}">
  <li data-ng-class="{'uk-active': tabberController.isDescriptionActive()}">
    <a
      href="javascript:void(0)"
      data-scroll-to="tabberController.domId"
      data-ng-click="tabberController.onClick(tabberController.tabDescription)">
      Beschreibung
    </a>
  </li>
  <li
    data-ng-if="tabberController.hasExercise"
    data-ng-class="{'uk-active': tabberController.isExerciseActive()}">
    <a
      href="javascript:void(0)"
      data-scroll-to="tabberController.domId"
      data-ng-click="tabberController.onClick(tabberController.tabExercise)">
      Aufgabe
    </a>
  </li>
</ul>
<ul class="uk-switcher" data-ng-switch="tabberController.activeTab">
    <li
      data-ng-switch-when="description"
      data-ng-class="{'uk-active': tabberController.isDescriptionActive()}">
      <div
        data-uk-grid=""
        data-ng-if="tabberController.icon">
        <div class="uk-text-center uk-text-left@m uk-width-1-4@m">
          <img data-ng-src="{{'img/' + tabberController.icon}}" width="275">
        </div>
        <div class="uk-text-center uk-text-left@m uk-width-3-4@m">
          <div
            data-ng-transclude="description"
            class="uk-text-small uk-margin-bottom">
            <!-- description -->
          </div>
          <a
            href="javascript:void(0)"
            class="uk-button uk-button-primary"
            data-scroll-to="tabberController.domId"
            data-ng-if="tabberController.hasExercise"
            data-ng-click="tabberController.onClick(tabberController.tabExercise)">
            Zur Aufgabe
          </a>
        </div>
      </div>
      <div
        data-ng-if="!tabberController.icon"
        class="uk-text-center uk-text-left@m">
        <div
          data-ng-transclude="description"
          class="uk-text-small uk-margin-bottom">
          <!-- description -->
        </div>
        <a
          href="javascript:void(0)"
          class="uk-button uk-button-primary"
          data-scroll-to="tabberController.domId"
          data-ng-if="tabberController.hasExercise">
          Zur Aufgabe
        </a>
      </div>
    </li>
    <li
      data-ng-transclude="exercise"
      data-ng-switch-when="exercise"
      class="uk-text-small uk-text-center uk-text-left@m"
      data-ng-class="{'uk-active': tabberController.isExerciseActive()}">
      <!-- exercise -->
    </li>
</ul>

