/* ==================================================
 * VARIABLES
 * @author Armin Pfurtscheller
 * ================================================== */

// --------------------------------------------------
// THEME
// --------------------------------------------------
$tm-primary: #003362;
$tm-secondary: #f39200;

// --------------------------------------------------
// UIKIT
// --------------------------------------------------

// background colors
$global-muted-background: #fafafa;
$global-primary-background: $tm-primary;
$global-secondary-background: $tm-secondary;

// text colors
$base-heading-color: $tm-secondary;
$global-link-color: $tm-secondary;
$global-link-hover-color: $tm-secondary;

// font sizes
$global-xxlarge-font-size: 2rem;
$global-xlarge-font-size: 1.75rem;
$global-large-font-size: 1.5rem;
$global-medium-font-size: 1.25rem;
$global-small-font-size: 0.875rem;

// font families
$global-font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "Helvetica Neue", Arial, sans-serif;
$base-heading-font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "Helvetica Neue", Arial, sans-serif;

// navbar
$navbar-nav-item-active-color: $tm-primary;

// tables
$table-striped-row-background: white;

// tabs
$tab-item-border-width: 3px;

