<div
  data-tabber=""
  data-tabber-icon="'procrastination-task.svg'">

  <tabber-description>
    Die folgende Übung zeigt dir, wie du <i>"Aufschieberitis"</i> überwinden kannst. Am besten startest du gleich jetzt!
  </tabber-description>

  <tabber-exercise>
    <div
      data-procrastination-task=""
      data-procrastination-task-on-update="frontendController.updateResult(payload)"
      data-procrastination-task-on-resolve="frontendController.createResult(payload)">
    </div>
  </tabber-exercise>

</div>
