<div
  data-tabber=""
  data-tabber-icon="'savings-supported-task.svg'">

  <tabber-description>
    <p>Die Sparmünze hast du ja schon im Workshop kennengelernt. Was ist der Hintergrund? Ein solider finanzieller Polster kann in vielen Lebenssituationen wichtig sein, wie etwa bei  Krankheit, Wohnungskauf, Familiengründung oder Pension. Am leichtesten fällt es uns zu sparen, wenn wir regelmäßig kleine Beträge auf die Seite bringen, weil dafür nur kleine Verzichte (z.B. Süßigkeiten, Zigaretten, ...) notwendig sind. Aber es erfordert Konsequenz und ist natürlich nicht immer leicht – deshalb soll dich die Sparmünze dabei unterstützen!</p>
    <p><strong>Zu dieser Übung gibt es keine interaktive Aufgabe!</strong></p>
  </tabber-description>

</div>
