<div data-ui-view=""></div>

<!-- reusable code field -->
<script type="text/ng-template" id="code-field.html">

  <div
    data-form-field=""
    class="uk-text-left">
    <label class="uk-text-uppercase uk-text-bold">Dein persönlicher Code:</label>
    <input
      name="code"
      type="password"
      class="uk-input"
      autofocus="autofocus"
      data-ng-required="true"
      data-form-field-model=""
      data-ng-model="loginFrontendController.username"
      data-ng-pattern="loginFrontendController.userpattern">

    <message-pattern>
      Dein persönlicher Code hat nicht <a href="javascript:void(0)" data-uk-toggle="target: #code-info" class="uk-text-bold uk-link-reset">das richtige Format</a>!
    </message-pattern>
    <message-required>
      Du musst deinen persönlichen Code angegeben!
    </message-required>
  </div>
</script>

<!-- reusable code hint -->
<script type="text/ng-template" id="code-info.html">
  <a
    href="javascript:void(0)"
    data-uk-toggle="target: #code-info"
    class="uk-display-block uk-text-small">
    Was ist mein persönlicher Code?
  </a>

  <div
    id="code-info"
    hidden="hidden"
    aria-hidden="true"
    class="uk-text-left uk-text-small">
    <ol class="uk-margin-top uk-margin-remove-bottom">
      <li>Dritter Buchstabe des Vornamens deiner Mutter (a-z)</li>
      <li>Dritter Buchstabe des Vornamens deines Vaters (a-z)</li>
      <li>Dein Geburtstag (01 - 31)</li>
      <li>Dein Geburtsmonat (01 - 12)</li>
      <li>Anzahl deiner Geschwister (0 - 9)</li>
    </ol>
  </div>
</script>
